.shampoo_banner_bg {
    background-color: #292A28;
    border-radius: 25px;
    width: 70%;
    height: 525px;
    text-align: center;
    margin: 100px auto 80px auto;
    padding: 20px;
}

.shampoo_img {
    width: 100%;
}