.shampoo_banner_bg {
    background-color: #292A28;
    border-radius: 25px;
    width: 70%;
    height: 65%;
    text-align: center;
    margin: 100px auto 80px auto;
    padding: 20px;
}

.shampoo_img {
    width: 100%;
}

.works_detail {
    text-align: center;
}

.works_item {
    text-align: left;
}

@media screen and (max-width: 767px){

header {
    margin-bottom: 10%;
}

}