body {
    background-color: #74D17A;
    font-family: "Kavoon", serif;
}

section {
    text-align: center;
}

main {
    text-align: center;
}

p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
    height: 100px;
}

ul {
    display: flex;
    gap: 30px;
    margin-right: 200px;
}

li {
    font-size: 30px;
}

h1 {
    font-size: 50px;
    margin-left: 200px;
}

.mv_wrapper {
    background-image: url(image/MV.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   /*  padding-top: 120px; */
   aspect-ratio: 16 / 9;
}

.works_container {
   display: flex; 
   justify-content: center; 
   gap: 110px;
}

.works_box {
  /*   display: flex;
    justify-content: center; */

}

.works_box h3 {
    text-align: center;
}

.works_img {
    width: 400px;
    height: auto;
}

.works_name {
    color: #E3F6E4;
}

.works_text {
    color: #E3F6E4;
}

.banner_img {
    width: 440px;
    height: auto;
}

.works_bg {
    background-color: #E3F6E4;
    border-radius: 25px;
    width: 1323px;
    height: 786px;
    margin: 300px auto 120px auto;
}

.button_container {
    /* position: relative; */
}

.works_button {
    background-color: #74D17A;
    width: 300px;
    height: 70px;
    border-radius: 25px;
    margin:  50px auto;
   /*  position: absolute; */
}

.works_button2 {
    border: 3px solid #E3F6E4;
    border-radius: 25px;
    width: 290px;
    height: 60px;
    /* position: absolute; */
}

.portfolio_bg {
    background-color: #292A28;
    width: 350px;
    height: 300px;
    border-radius: 25px;
}

.banner_bg {
    background-color: #292A28;
    width: 350px;
    height: 300px;
    border-radius: 25px;
}

h2 {
    font-size: 50px;
    text-align: center;
    padding: 150px 0;
}

h4 {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;

}

.about_img {
    text-align: center;
    width: 40%;
   

    
}

.insta_img {
    text-align: center;
    width: 10%;
    margin-bottom: 150px;
}

.profile_color {
    max-width: 1200px;
    background-color: #E3F6E4;
    border-radius: 50%;
    width: 850px;
   margin: 0 auto;
}