.mv2_wrapper {
    background-image: url(image/MV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   /*  padding-top: 120px; */
   aspect-ratio: 16 / 9;
}

.works2_container {
    background-color: #E3F6E4;
    border-radius: 25px;
    width: 1100px;
    margin: 150px auto;
}

.works_web_bg {
    background-color: #292A28;
    border-radius: 25px;
    width: 550px;
    height: auto;
    text-align: center;
    margin: 100px auto 80px auto;
}


.Portfolio_size {
    text-align: center;
}

.web_img {
    width: 530px;
    height: auto;
    padding: 20px 15px ;
}

/* .works3_container {
    margin: ;
} */

.outdour_banner {
    background-color: #292A28;
    border-radius: 25px;
    width: 580px;
    height: auto;
    margin: 0px auto 80px auto;
    padding: 20px;
} 

.banner_box {
    display: flex;
    /* margin: 0 auto; */
}

.banner_web_bg {
    background-color: #292A28;
    border-radius: 25px;
    width: 480px;
    height: auto;
    text-align: center;
    margin: 100px auto 80px auto;
}

.banner_img_works {
    width: 90%;
    height: auto;
    padding: 15px 0;
}